################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SOLID/v16
/src/D/obj
/src/I/obj
/src/L/obj
/src/O/obj
/src/S/obj
/.vs/SOLID/DesignTimeBuild
